node_modules/
package-lock.json

.env

contracts/PriceFeed.bin
contracts/abi/PriceFeed.abi

graph-node/data/ipfs/*
!graph-node/data/ipfs/.keep

graph-node/data/postgres/*
!graph-node/data/postgres/.keep

subgraph/abis/PriceFeed.abi
subgraph/build/
subgraph/generated/
